
.calendar_box{
width:329px;
height:185px;
background:url(../../../../cj/1/%E8%B5%84%E6%96%99/100%E5%A5%97%E8%87%AA%E7%94%B1%E5%85%8D%E8%B4%B9%E7%9A%84XHTML+CSS%E7%BD%91%E9%A1%B5%E6%A8%A1%E6%9D%BF/00084_1/006_squick/images/calendar_bg.gif) no-repeat center;
}
